<h1><%=@title  %></h1>

<%@classifications.each do |classification|%>
    &nbsp<%= link_to classification.value, search_items_path(status: classification.id),:class => "btn"%>
<%end%>

<br><br><br>

<table class="table table-bordered table-hover">
  <tr>
    <th>Search Term</th>
    <th></th>
  </tr>


<% @search_items.each do |search_item| %>
  <tr>
    <td>&nbsp<%= link_to search_item.name,"http://www.quandl.com/search/#{search_item.name}", :target => "_blank" %></td>

      <% @classifications.each do |classification| %>
        <%= form_for search_item do |f|%>
            <%= f.hidden_field :classification_id, :value => classification.id %>
            <%= hidden_field_tag 'selected', 'none'  %>
            <%= f.hidden_field :status, :value => params[:status] %>
       <td><%= f.submit classification.value, :class=>"btn btn-small"%></td>
      <% end %>
    <% end %>

    <td>&nbsp<%= link_to 'Delete', search_item, method: :delete, data: { confirm: 'Are you sure?' } ,
                         :class=>"btn btn-danger"%></td>


  </tr>
<% end %>
</table>

<br />
