<h1>Classification List</h1>

<table class="table table-bordered table-hover">
  <tr>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @classifications.each do |classification| %>

      <%if classification.value == "Unclassified" %>
          <tr class="<%= cycle('oddrow', 'evenrow') %>">
            <td><%= classification.value %></td>
            <td><%= link_to 'Edit', edit_classification_path(classification), :class=>"btn" %></td>
          </tr>
      <%else%>

      <tr class="<%= cycle('oddrow', 'evenrow') %>">
        <td><%= classification.value %></td>
        <td><%= link_to 'Edit', edit_classification_path(classification),:class=>"btn" %></td>
        <td><%= link_to 'Delete', classification, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-danger" %></td>
      </tr>
      <% end %>
<% end %>
</table>

<br />

<%= link_to 'Add New Classification', new_classification_path,:class=>"btn" %>


